body {margin: 0;}

#logo {
   width: 28%;
   margin: auto;
    display: block;
}

.intro {
    padding: 2.5%;
    background-color: #43C07B;
    color: black;
    border-bottom: 0.25vw black solid;
    border-top: 0.25vw black solid;
}

.intro h2 {
    font-size: 350%;
    font-weight: bolder;
}

.intro h3 {
    font-size: 200%;
}

.header div {
    background-color: #FDF3D9;
}

.accordion {
  background-color: #568ea6;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
	font-size: 3vw;
	text-transform: uppercase;
	border-bottom: 0.25vw solid black;
	
}

.accordion:hover {
  background-color: rgba(86, 142, 186,1.00) !important
}

.actives:hover {
	background-color: rgba(48, 85, 134,1.00) !important
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
    background-color: #FBD588;
}

.accordion:after {
  content: "\002B";
  font-size: 2.5vw;
  color: black;
  float: right;
  margin-left: 5%;
    transition: 0.4s;
}

.actives:after {
  content: "\002D"; 
  color: white;
}

.panel p, .panel li {
	font-family: raleway, Futura, Century Gothic, sans-serif;
	font-size: 2;
}

.footer a {
    font-size: 200%;
    color: black;
    font-family: raleway, Futura, Century Gothic, sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #44DC97;
    text-decoration: none;
    padding: 0.5%;
    border: black solid;
    border-bottom: transparent;
    border-collapse: collapse;
    transition: .3s;
    bottom: 0vw;
    position:static;
}

.footer a:not(:nth-child(2)) {
    border-left: transparent;
}

.footer a:hover {
    font-weight: bolder;
    background-color: #31D88D;
}
.footer:not(:hover) {
    margin-bottom: -25px;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
}

.footer {
	bottom: 0vw;
    height: auto;
    position: fixed;
    z-index: 2;
    transition: 0.2s;
}

.footer div {
  border: 1px solid transparent;
}