body {
  margin: 0;
}

#logo {
  width: 100%;
  margin: auto;
  display: block;
}

.accordion {
  background-color: rgba(255, 230, 175, 1);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 3vw;
  text-transform: uppercase;
  border-bottom: 0.25vw solid black;
}

.accordion:hover {
  background-color: rgba(250, 232, 192, 1) !important;
}

.actives:hover {
  background-color: rgba(255, 221, 150, 1) !important;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  font-size: 2.5vw;
  color: #777;
  float: right;
  margin-left: 5px;
  transform: translateY(0.3vw);
}

.actives:after {
  content: "\2796";
}

.panel p,
.panel li {
  font-family: raleway, Futura, Century Gothic, sans-serif;
  font-size: 2vw;
}

[class*="col-"] {
  float: left;
  border: 1px solid transparent;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
}
