
.form-inner {
  padding: 30px;
}

.form-inner input,
.form-inner textarea {
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 1px;
  border: none;
  border-radius: 20px;
  background: white;    
}

.form-inner textarea {
  resize: vertical;
  height: 500px;
}

.form-inner button {
  width: 25%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 7px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #333333;
  background: #404040;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.form-inner button:hover {
  background: #333333;
}
